<div class="fs-4 p-3 border container mb-2 bio">
  <%= form_with model: @recipe, method: :post, local: true do |f| %>
    <%= f.label :name, "Name", class: "form-label fs-6" %>
    <%= f.text_field :name, required: true, class: "form-control mb-2" %>

    <%= f.label :description, "Write description", class: "form-label fs-6 mb-2" %>
    <%= f.text_area :description, size: "30x5", required: true, class: "form-control" %>

    <%= f.label :cooking_time, "Cooking time(mins)", class: "form-label fs-6" %>
    <%= f.text_field :cooking_time, class: "form-control mb-2" %>

    <%= f.label :preparation_time, "Preparation time(mins)", class: "form-label fs-6" %>
    <%= f.text_field :preparation_time, class: "form-control mb-2" %>
    <div class="d-block">
      <%= f.label :public, "Make it Public?", class: "form-label fs-6 me-3" %>
      <%= f.check_box :public, class: "mb-2" %>
    </div>

    <%= f.submit "Add Recipe", data: {disable_with: "Adding..."}, class: "btn btn-primary my-3" %>
  <% end %>
</div>