<nav class="navbar container mb-5 bg-light" role="navigation" aria-label="main navigation">
  <% if user_signed_in? %>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Food", foods_path, class: "navbar-item #{current_page?(foods_path) ? "is-active" : ""}" %>
        <%= link_to "My Recipes", recipes_path, class: "navbar-item #{current_page?(recipes_path) ? "is-active" : ""}" %>
        <%= link_to "Create Recipe", new_recipe_path, class: "navbar-item" %>
        <%= link_to "Public Recipe", public_recipes_path, class: "navbar-item" %>
        <%= link_to "Shopping List", shopping_list_path, class: "navbar-item #{current_page?(shopping_list_path) ? "is-active" : ""}" %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <span class="button is-static is-small"><%= current_user.name %></span>
            <%# get the number of public recipes of a user %>
            <span class="button is-static is-small">📢  <%= current_user.recipes.where(public: true).count %></span>
            <span class="button is-static is-small">🔒  <%= current_user.recipes.where(public: false).count %></span>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-small is-danger is-light" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</nav>
