<div class="is-flex is-justify-content-end my-6">
  <%= link_to 'Add Food', new_food_path, class: "mt-4 button is-primary is-pulled-left mt-2 mr-5" %>
</div>

<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Food</th>
        <th title="measurement">Measurement unit</th>
        <th title="price">Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th><%= food.name %></th>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
          <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-danger is-light" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>